*::-webkit-input-placeholder {
	color: #E1DAD0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #E1DAD0;
	opacity: 1;
}
*::-moz-placeholder {
	color: #E1DAD0;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #E1DAD0;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'AvenirNextCyr';
	font-size: 16px;
	line-height: 22px;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
	color: #112323;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	font-size: 14px;
	line-height: 20px;
	padding-top: 35px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: all 1s;
}
.header.nav-up {
	transform: translateY(-203px);
}
.header.nav-down {
	transform: translateY(0px);
}
.header__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.location strong {
	font-size: 16px;
	font-weight: 500;
	display: block;
}
.logo {
	display: inline-block;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 50px;
	height: 50px;
	margin-right: 30px;
	padding-top: 15px;
	align-items: center;
	border-radius: 50%;
	background-color: #4196A3;
	flex: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 20;
	transition: all 0.3s;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 18px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 18px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 18px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 7px;
	transform: rotate(-45deg); 
}
.header__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.contacts-line {
	display: flex;
	align-items: center;
}
.phone-main {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #112323;
	display: inline-block;
}
.social-list {
	display: flex;
	align-items: center;
}
.social-list li {
	margin-right: 12px;
}
.link-page {
	color: #112323;
	border-bottom: 1px solid #112323;
	display: inline-block;
}
.link-page:hover {
	border-color: transparent;
}
.btn-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #4196A3;
}
.header__right .btn-circle {
	margin-left: 23px;
}
.header__left,
.header__right {
	padding-top: 10px;
	display: flex;
	align-items: center;
}

.billbord {
	padding-top: 244px;
	background: rgba(225, 218, 208, 0.2);
}
.image-billbord {
	width: 1678px;
	position: relative;
	z-index: 1;
}
.image-billbord::before {
	position: absolute;
	display: block;
	content: " ";
	top: -56px;
	left: -56px;
	bottom: 0;
	right: 0;
	background: rgba(225, 218, 208, 0.4);
	border-radius: 630px 0px 0px 0px;
	z-index: -1;
}
.image-billbord img {
	border-radius: 590px 0px 0px 0px;
	max-width: 100%;
	height: auto;
}
.billbord-block {
	padding-top: 90px;
	position: relative;
}
.content-billbord {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}
.title-big {
	font-size: 100px;
	line-height: 90px;
	padding-bottom: 32px;
	max-width: 835px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: 'Forum';
}
.descr-big {
	font-size: 32px;
	line-height: 39px;
	padding-bottom: 44px;
	max-width: 576px;
	margin: 0 auto;
	font-weight: 300;
}
.btn-main {
	font-size: 18px;
	line-height: 22px;
	height: 50px;
	padding: 0 27px;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #9A4629;
	border: none;
}
.btn-main img {
	margin-left: 15px;
	transition: all 0.5s;
}

.services {
	padding-top: 89px;
	padding-bottom: 60px;
	background: #EFECE7;
}
.title-section {
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 0.05em;
	margin: 0 auto;
	text-transform: uppercase;
	font-family: 'Forum';
	text-align: center;
}
.services .title-section {
	padding-bottom: 70px;
}
.service-unit {
	margin-bottom: 27px;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: center;
}
.service-unit__icon {
	width: 87px;
	height: 87px;
	margin-right: 35px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.service-unit__icon img {
	max-width: 100%;
	max-height: 100%;
}
.service-unit p {
	margin: 0;
}

.catalog {
	padding-top: 45px;
	padding-bottom: 69px;
}
.item-catalog {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__image {
	height: 390px;
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
	width: 100%;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 0.5s;
}
.item-catalog__title {
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 16px;
	font-family: 'Forum';
	color: #112323;
	display: block;
	width: 100%;
}
.item-catalog__text {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
	font-weight: 300;
}
.table-features {
	width: 100%;
	margin-top: auto;
}
.table-features table {
	width: 100%;
	border-spacing: 0;
}
.table-features table th {
	font-size: 14px;
	line-height: 17px;
	padding: 12px 15px;
	font-weight: 400;
	text-align: left;
	white-space: nowrap;
	background: #EFECE7;
}
.feature-value {
	display: flex;
	align-items: center;
}
.feature-value img {
	margin-right: 20px;
}
.feature-value sup {
	font-size: 10px;
	line-height: 0;
	position: relative;
	top: -4px;
}
.feature-price {
	font-size: 20px;
	line-height: 22px;
	font-family: 'Forum';
}
.feature-price span {
	font-size: 32px;
	line-height: 35px;
}
.table-features td {
	padding: 15px 15px;
}
.feature-value_area {
	white-space: nowrap;
}
.item-catalog__bottom {
	padding: 9px 0;
	width: 100%;
	border-top: 1px solid rgba(188, 188, 188, 0.5);
	border-bottom: 1px solid rgba(188, 188, 188, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-main_simple {
	font-size: 14px;
	line-height: 17px;
	padding: 0 17px;
	font-weight: 500;
	color: #112323;
	background: rgba(225, 218, 208, 0.2);
}
.row_catalog > div {
	margin-top: 35px;
}
.bottom-link {
	padding-top: 39px;
	text-align: center;
}
.link-main {
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 500;
	color: #112323;
	display: inline-block;
	position: relative;
}
.link-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #112323;
	transition: all 0.2s;
}
.link-main:hover::after {
	bottom: 10px;
}

.services-wrapper {
	padding: 34px 87px;
	padding-bottom: 50px;
	transition: all 0.3s;
	border-radius: 0vw;
	position: relative;
	z-index: 1;
}
.logo-section {
	width: 58px;
	display: block;
	margin: 0 auto;
	margin-bottom: 28px;
}
.logo-section img {
	max-width: 100%;
	height: auto;
}
.services-wrapper .title-section {
	max-width: 865px;
	margin: 0 auto;
}
.descr-section {
	font-size: 24px;
	line-height: 29px;
	padding-top: 14px;
	padding-bottom: 38px;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
}
.services-wrapper .descr-section {
	max-width: 882px;
}
.item-service {
	height: 332px;
	margin-bottom: 35px;
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
}
.item-service::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	height: 204px;
	width: 100%;
	background: linear-gradient(180deg, rgba(17, 35, 35, 0) 21.21%, #112323 100%, rgba(17, 35, 35, 0.96875) 100%);
}
.item-service img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-service:hover img {
	transform: scale(1.2);
}
.item-service_1 {
	text-align: center;
}
.item-service_1,
.item-service_5,
.item-service_6 {
	height: 385px;
}
.item-service_9,
.item-service_2 {
	text-align: right;
}
.item-service_1,
.item-service_1 img {
	border-radius: 200px 200px 0px 0px;
}
.item-service_2,
.item-service_2 img {
	border-radius: 0px 200px 0px 0px;
}
.item-service_4,
.item-service_4 img {
	border-radius: 200px 0px 0px 0px;
}
.item-service_5,
.item-service_5 img {
	border-radius: 0px 200px 0px 0px;
}
.item-service_6,
.item-service_6 img {
	border-radius: 200px 0px 0px 0px;
}
.item-service_9,
.item-service_9 img {
	border-radius: 0px 0px 0px 200px;
}
.item-service_11,
.item-service_11 img {
	border-radius: 0px 0px 200px 0px;
}
.item-service_9::after {
	border-radius: 0px 0px 0px 200px;
}
.item-service_11::after {
	border-radius: 0px 0px 200px 0px;
}
.item-service__content {
	padding: 33px 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	color: #fff;
	z-index: 2;
}
.item-service__title {
	font-size: 30px;
	line-height: 33px;
	display: block;
	width: 100%;
	font-family: 'Forum';
}
.row_services > div {
	padding: 0 15px;
}
.col-small {
	width: 31%;
}
.col-middle {
	width: 38%;
}
.col-big {
	width: 69%;
}
.col-middle,
.col-small {
	flex: none;
}
.item-service_5::after,
.item-service_6::after  {
	height: 189px;
	background: linear-gradient(180deg, rgba(17, 35, 35, 0) 0%, rgba(17, 35, 35, 0.96875) 72.12%, #112323 100%);
}

.entertainment {
	padding-top: 42px;
	padding-bottom: 37px;
	background: #F3F0EC;
}
.swiper-entertainment .swiper-slide {
	width: 1160px;
	margin-right: 30px;
}
.item-entertainment {
	display: flex;
	align-items: center;
}
.item-entertainment__image {
	width: 702px;
	height: 450px;
	margin-right: 35px;
	border-radius: 0px 0px 200px 0px;
	flex: none;
}
.item-entertainment__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0px 0px 200px 0px;
}
.title-middle {
	font-size: 30px;
	line-height: 33px;
	font-family: 'Forum';
}
.item-entertainment .title-middle  {
	padding-bottom: 33px;
}
.swiper-entertainment {
	margin-right: calc((100vw - 1440px) / 2* -1);
}
.swiper-entertainment .swiper-arrows {
	padding-right: calc((100vw - 1440px)/2);
}
.btn-swipe {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: none;
	opacity: 1 !important;
	background: #9A4629;
}
.btn-swipe::after {
	display: none;
}
.swiper-arrows .btn-swipe {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	transform: none;
	bottom: 0;
}
.swiper-arrows {
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-fraction {
	font-size: 24px;
	line-height: 26px;
	margin: 0 31px;
	font-family: 'Forum';
}

.booking {
	padding-top: 42px;
	padding-bottom: 60px;
	color: #E1DAD0;
	background: #2E6B75;
}
.item-form input {
	height: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #E1DAD0;
	font-weight: normal;
	font-family: 'AvenirNextCyr';
	background-color: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid #E1DAD0;
}
.item-form {
	margin-bottom: 50px;
}
.checkbox {
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 5px 0 0 28px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #E1DAD0;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #E1DAD0;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.bottom-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-main_transparent {
	color: #E1DAD0;
	border: 1px solid #E1DAD0;
	background-color: transparent;
}
.contacts {
	padding-top: 110px;
}
.contacts .title-section {
	max-width: 1050px;
}
.contacts .descr-section {
	max-width: 910px;
	padding-bottom: 66px;
}
#map {
	height: 700px;
	margin-left: -120px;
	margin-right: calc((100vw - 1440px) / 2* -1);
	border-radius: 0px 300px 0px 0px;
	overflow: hidden;
	background-color: #ddd;
}
.contacts-block {
	padding-top: 33px;
	padding-right: 25px;
	height: 700px;
	position: relative;
	z-index: 1;
}
.contacts-block::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	right: 0;
	bottom: 0;
	left: -1000px;
	background: #E1DAD0;
	border-radius: 0px 100px 0px 0px;
	z-index: -1;
}
.text-main {
	font-size: 18px;
	line-height: 25px;
}
.contacts-block .title-middle {
	margin-bottom: 10px;
}
.contacts-block .text-main + .title-middle {
	margin-top: 26px;
}
.contacts-block .social-list li {
	margin-right: 0;
	margin-left: 12px;
}
.contacts-block .contacts-line {
	margin-top: 10px;
}
.contacts-block .phone-main {
	font-size: 20px;
	line-height: 25px;
}
.contacts-block .btn-main {
	margin-top: 27px;
}
.location-wrapper {
	padding: 13px 20px;
	padding-right: 33px;
	margin-top: 15px;
	max-width: 369px;
	background: rgba(243, 240, 236, 0.3);
	border-radius: 10px;
	margin-bottom: 18px;
}
.list-locations {
	counter-reset: list1;
	max-height: 250px;
	overflow: auto;
}
.list-locations::-webkit-scrollbar {
	-webkit-appearance: none;
}
.list-locations::-webkit-scrollbar:vertical {
	width: 4px;
}
.list-locations::-webkit-scrollbar:horizontal {
	height: 4px;
}
.list-locations::-webkit-scrollbar-thumb {
	background: #CE9B7F;
	border-radius: 10px;
}
.list-locations::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #F3F0EC;
}
.item-location {
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.item-location::before {
	position: relative;
	display: flex;
	counter-increment: list1;
	content: counter(list1);
	margin-right: 20px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	flex: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #F3F0EC;
}
.item-location.active::before {
	color: #fff;
	background: #9A4629;
}
body .ymaps-2-1-79-balloon__layout {
	background: #1C474E;
	margin: 0;
	color: #fff;
	border-radius: 15px 15px 15px 15px;
}
body .ymaps-2-1-79-balloon__content {
	background-color: transparent;
}
.ymaps-2-1-79-balloon__tail {
	display: none !important;
}
body .ymaps-2-1-79-balloon__content img {
	margin: 0 auto;
}
.ymaps-2-1-79-balloon {
	box-shadow: none !important;
}
.ymaps-2-1-79-balloon__close {
	display: none !important;
}

.socials {
	padding-top: 32px;
	padding-bottom: 60px;
	color: #E1DAD0;
	background: #2E6B75;
	text-align: center;
}
.booking .title-section,
.socials .title-section {
	font-size: 55px;
	line-height: 66px;
}
.socials .title-section {
	padding-bottom: 44px;
}
.link-social {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #E1DAD0;
	letter-spacing: 0.1em;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	position: relative;
}
.link-social img {
	margin-right: 22px;
}

.footer {
	font-size: 14px;
	line-height: 20px;
	padding-top: 31px;
	color: #E1DAD0;
	background: #1C474E;
}
.footer p strong {
	font-weight: 500;
}
.footer p a {
	color: #E1DAD0;
}
.footer .logo {
	margin-bottom: 19px;
	display: inline-block;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social a {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	background: rgba(89, 180, 194, 0.2);
}
.list-social li {
	margin-right: 9px;
}
.list-social li:last-child {
	margin-right: 0;
}
.footer .list-social {
	margin-top: 25px;
}
.footer__title {
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 12px;
	font-family: 'Forum';
}
.footer__nav li {
	margin-bottom: 12px;
}
.footer__nav a {
	border-bottom: 1px solid transparent;
	color: #E1DAD0;
}
a.footer__title:hover,
.footer__nav a:hover {
	color: #fff;
	border-color: #fff;
}
a.footer__title {
	border-bottom: 1px solid transparent;
	color: #E1DAD0;
	display: inline-block;
}
.footer__content + .footer__title {
	padding-top: 12px;
}
.footer-bottom {
	padding: 10px 0;
	margin-top: 30px;
	color: #BCBCBC;
	border: 1px solid rgba(225, 218, 208, 0.2);
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
}
.footer-bottom a {
	color: #BCBCBC;
}
.footer-bottom a:hover {
	color: #fff;
}
.btn_top {
	font-size: 18px;
	float: right;
	position: relative;
	color: #fff !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #9A4629;
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #a35439;
}
.footer__title i {
	display: none;
}
.footer__col {
	padding-left: 40px;
}
.letter-wrap * {
	transition: all 0.2s;
}
.letter-wrap {
	display: flex;
}
.letter-wrap__word + .letter-wrap__word {
	margin-left: 6px;
}
.letter-wrap__char-inner:after {
	content: attr(data-letter);
	position: absolute;
	top: 100%;
	left: 0;
}
.letter-wrap__char-inner {
	position: relative;
	display: block;
}
.letter-wrap * {
	pointer-events: none;
}
.letter-wrap__word {
	display: flex;
	overflow: hidden;
}
.btn-main {
	position: relative;
}
.letter-wrap:hover ~ img {
	transform: translateX(10px);
}
.letter-wrap::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
}
.preloader__first {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EFECE7;
}	
.preloader__second {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.preloader__second::after,
.preloader__second::before {
	position: absolute;
	display: block;
	content: " ";
	width: 50%;
	left: 0;
	top: 0;
	height: 100%;
	transition: all 1s;
	background: #2E6B75;
}
.preloader__second::after {
	right: 0;
	left: auto;
}
.preloader__second.active::after,
.preloader__second.active::before {
	width: 0;
}
.scrolldown {
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4196A3;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 4;
	transition: all 1s;
}
.scrolldown.active {
	width: 100px;
	height: 100px;
}
.scrolldown__text  {
	color: #fff;
	letter-spacing: 1px;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	transform: translate3d(0px, 1.5vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	transition: all 1s;
	visibility: hidden;
	opacity: 0;
}
.scrolldown.active .scrolldown__text {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}
.sandwich:hover,
.btn-circle:hover {
	background-color: #218392;
}

.page-news {
	padding-bottom: 45px;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	font-size: 18px;
	line-height: 22px;
	height: 50px;
	padding: 0 25px;
	min-width: 213px;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #9A4629;
	border-radius: 4px;
	border: 1px solid #9A4629;
}
.tabs a:hover,
.tabs .active a {
	color: #9A4629;
	background-color: #fff;
}
.wrapper_page {
	padding-top: 145px;
	background: rgba(225, 218, 208, 0.2);
}
.wrapper_page .header__left, 
.wrapper_page .header__right {
	padding-top: 0;
}
.wrapper_page .header__wrapper {
	align-items: center;
}
.page-news .title-section {
	padding-bottom: 40px;
}
.tab-container {
	padding-top: 36px;
}
.item-news {
	margin-bottom: 45px;
	display: block;
	color: #112323;
}
.item-news__image {
	height: 240px;
	margin-bottom: 19px;
	display: block;
	width: 100%;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-news__date {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 17px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.item-news__date::after {
	position: relative;
	content: " ";
	display: block;
	flex: 1;
	height: 1px;
	margin-left: 20px;
	background-color: rgba(188, 188, 188, 0.5);
}
.item-news__title {
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 15px;
	font-family: 'Forum';
	display: block;
}
.item-news__text {
	line-height: 20px;
	font-weight: 300;
}
.item-news:hover .item-news__image img {
	transform: scale(1.1);
}
.pager {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	font-size: 24px;
	line-height: 26px;
	font-family: 'Forum';
	color: #112323;
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers.current,
.page-numbers:hover {
	color: #9A4629;
}
.prev.page-numbers,
.next.page-numbers {
	width: 37px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border-radius: 50%;
	background: #9A4629;
}
.prev.page-numbers {
	margin-right: 90px;
}
.next.page-numbers {
	margin-left: 90px;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	background-color: #a35439;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.billbord-article {
	height: 357px;
	margin-bottom: 60px;
	position: relative;
}
.billbord-article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.billbord-article__content {
	padding: 22px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
.breadcrumbs {
	padding: 25px 0;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #112323;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #112323;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.billbord-article__content .breadcrumbs {
	padding: 10px 22px;
	background: rgba(243, 240, 236, 0.9);
	display: inline-flex;
	text-align: left;
}
.article {
	padding-bottom: 80px;
}
.article .title-section {
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 29px;
}
.article-content {
	line-height: 25px;
	position: relative;
}
.article-content::after {
	position: relative;
	display: block;
	content: " ";
	clear: both;
}
.article-content h2 {
	font-size: 30px;
	line-height: 33px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 1px solid rgba(188, 188, 188, 0.5);
	font-family: 'Forum';
}
.article-content p {
	margin-bottom: 20px;
}
.article-content ul li {
	padding-left: 15px;
	margin-bottom: 20px;
	position: relative;
}
.article-content ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.article-content img {
	max-width: 580px;
	margin-top: 47px;
	margin-left: 20px;
	height: auto;
	float: right;
}
.page-contacts {
	font-size: 18px;
	line-height: 25px;
	color: rgba(17, 35, 35, 0.96875);
}
.page-contacts .title-middle {
	padding-bottom: 10px;
	padding-top: 25px;
}
.page-contacts .title-middle:first-of-type {
	padding-top: 0;
}
.page-contacts p a {
	color: rgba(17, 35, 35, 0.96875);
}
.page-contacts .title-section {
	padding-bottom: 35px;
}
.block-form {
	padding: 25px 45px;
	padding-bottom: 35px;
	color: #E1DAD0;
	text-align: center;
	background: #2E6B75;
}
body .block-form .title-middle {
	padding-bottom: 20px;
	padding-top: 0;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.logo-form {
	margin-bottom: 23px;
}
.logo-form img {
	margin: 0 auto;
}
.block-form .item-form {
	margin-bottom: 18px;
}
.block-form .checkbox {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.block-form .btn-main {
	margin-top: 25px;
	text-transform: none;
}
#map-contacts {
	height: 600px;
	margin-top: 68px;
	border-radius: 300px 300px 0px 0px;
	overflow: hidden;
	width: 100%;
}
.item-review {
	padding: 25px 50px;
	padding-bottom: 50px;
	line-height: 26px;
	min-height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
	border-radius: 0px 0px 100px 0px;
	color: rgba(17, 35, 35, 0.96875);
}
.date-main {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 25px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.date-main::after {
	position: relative;
	content: " ";
	display: block;
	flex: 1;
	height: 1px;
	margin-left: 20px;
	background-color: rgba(188, 188, 188, 0.5);
}
.item-review .title-middle {
	margin-bottom: 20px;
}
.row_reviews > div {
	margin-top: 40px;
}
.page-reviews .pager {
	margin-top: 40px;
}
.page-reviews {
	padding-bottom: 47px;
}
.item-dropdown {
	background: #FFFFFF;
	margin-bottom: 20px;
	transition: all 0.3s;
}
.item-dropdown.active {
	border-radius: 0px 0px 100px 0px;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
}
.item-dropdown__content {
	line-height: 26px;
	color: rgba(17, 35, 35, 0.96875);
}
.item-dropdown__content p {
	margin-bottom: 20px;
}
.item-dropdown__content strong {
	font-weight: 500;
}
.item-dropdown__head {
	font-size: 30px;
	line-height: 33px;
	padding: 27px 25px;
	font-family: 'Forum';
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-dropdown__arrow {
	width: 37px;
	height: 37px;
	margin-left: 24px;
	padding-top: 1px;
	font-size: 14px;
	border-radius: 50%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #9A4629;
	flex: none;
	transition: all 0.3s;
}
.item-dropdown.active .item-dropdown__arrow {
	transform: rotate(180deg);
}
.item-dropdown__value {
	font-size: 20px;
	line-height: 22px;
	text-align: right;
	white-space: nowrap;
}
.item-dropdown__value span {
	font-size: 32px;
	line-height: 35px;
}
.item-dropdown__title {
	margin-right: auto;
}
.item-dropdown__content {
	padding: 0 25px;
	margin: 0 25px;
	padding: 20px 10px;
	padding-bottom: 40px;
	display: none;
	border-top: 1px solid rgba(188, 188, 188, 0.5);
}
.page-vacancies .title-section {
	padding-bottom: 33px;
}
.page-vacancies {
	padding-bottom: 35px;
}
.about-page .billbord-block .btn-main {
	bottom: 95px;
	left: 110px;
	z-index: 2;
	position: absolute;
}
.about-info {
	padding: 40px 65px;
	padding-bottom: 30px;
	padding-right: 25px;
	line-height: 26px;
	margin-top: -60px;
	position: relative;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
	border-radius: 0px 0px 100px 0px;
	color: rgba(17, 35, 35, 0.96875);
}
.about-info p {
	margin-bottom: 20px;
}
.about-info p:last-child {
	margin-bottom: 0;
}
.about-page .image-billbord {
	margin-left: 56px;
}
.number-about {
	margin-top: 45px;
	font-size: 22px;
	line-height: 22px;
	font-family: 'Forum';
}
.number-about span {
	font-size: 36px;
	line-height: 40px;
	color: #9A4629;
}
.title-middle_page {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}
.about-page .title-middle_page {
	margin-top: 45px;
}
.text-about {
	line-height: 26px;
	padding-top: 33px;
}
.text-about strong {
	font-weight: 500;
}
.image-slide {
	height: 385px;
	display: block;
	width: 100%;
}
.image-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.swiper-slide:nth-child(odd) .image-slide,
.swiper-slide:nth-child(odd) .image-slide img {
	border-radius: 0px 200px 0px 0px;
}
.swiper-slide:nth-child(even) .image-slide,
.swiper-slide:nth-child(even) .image-slide img {
	border-radius: 200px 0px 0px 0px;
}
.swiper-gallery .swiper-slide {

}
.swiper-gallery {
	margin-top: 50px;
}
.about-page {
	padding-bottom: 37px;
}
.swiper-gallery .swiper-arrows {
	padding-top: 40px;
}
.consultation {
	padding: 36px 0;
	background-color: #fff;
}
.consultation-block {
	padding: 26px 145px;
	padding-bottom: 59px;
	background: #E1DAD0;
	border-radius: 200px;
}
.consultation-block .item-form input {
	border-color: #112323;
	color: #112323;
}
.consultation-block .item-form *::-webkit-input-placeholder {
	color: #112323;
}
.consultation-block .item-form *:-moz-placeholder {
	color: #112323;
}
.consultation-block .item-form *::-moz-placeholder {
	color: #112323;
}
.consultation-block .item-form *:-ms-input-placeholder {
	color: #112323;
}
.consultation-block .title-middle {
	padding-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
}
.bottom-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.consultation-block .btn-main {
	border-color: #112323;
	color: #112323;
}
.consultation-block .checkbox label span:before {
	border-color: #112323;
}
.consultation-block .checkbox label span:after {
	color: #112323;
}
.consultation-block .item-form {
	margin-bottom: 33px;
}
.item-document {
	margin-top: 25px;
	display: block;
}
.item-document__image {
	height: 462px;
	padding: 13px;
	margin-bottom: 14px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
	border-radius: 20px;
	display: block;
}
.item-document__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-document__title {
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 15px;
	font-weight: 500;
	border-bottom: 1px solid rgba(188, 188, 188, 0.5);
	color: rgba(17, 35, 35, 0.96875);
	display: block;
}
.page-licenses {
	padding-bottom: 47px;
}
.page-licenses .pager {
	margin-top: 40px;
}
.page-catalog .item-catalog__bottom {
	border-bottom: none;
}
.page-catalog {
	padding-bottom: 35px;
}
.page-catalog .pager {
	margin-top: 35px;
}
.page-catalog .row_catalog > div {
	margin-top: 30px;
} 
.image-card {
	height: 790px;
	border-radius: 540px 0px 0px 0px;
	display: block;
}
.image-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 540px 0px 0px 0px;
}
.page-card .container {
	position: relative;
}
.description-card {
	font-size: 18px;
	line-height: 25px;
	padding: 30px 35px;
	padding-right: 80px;
	padding-bottom: 50px;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
	border-radius: 0px 0px 100px 0px;
	position: absolute;
	top: 0;
	left: 15px;
	z-index: 2;
	background-color: #fff;
}
.description-card .title-section {
	font-size: 48px;
	line-height: 67px;
	padding-bottom: 10px;
	text-align: left;
}
.swiper-card .swiper-arrows {
	bottom: 0;
	left: 0;
	padding: 35px;
	z-index: 2;
	color: #fff;
	justify-content: flex-start;
	position: absolute;
}
.info-card {
	padding: 28px 35px;
	font-size: 18px;
	line-height: 25px;
	margin: 24px 0;
	background: #EFECE7;
}
.info-card p {
	margin-bottom: 15px;
}
.info-card .feature-price {
	margin-top: 8px;
	margin-bottom: 60px;
}
.feature-card {
	display: flex;
	align-items: center;
	page-break-inside: avoid; 
	break-inside: avoid; 
}
.feature-card {
	margin-bottom: 11px;
}
.feature-card__icon {
	width: 47px;
	height: 47px;
	margin-right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	background-color: #fff;
	border-radius: 50%;
}
.feature-card__icon img {
	max-width: 100%;
	max-height: 100%;
}
.row_features > div:nth-child(1) .list-features {
	columns: 2;
}
.row_features .title-middle {
	margin-bottom: 15px;
}
.row_features .col-lg-4 {
	padding: 0 60px;
}
.row_features {
	margin-bottom: 30px;
}
.head-services {
	padding-top: 35px;
	padding-bottom: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(188, 188, 188, 0.5);
}
.head-services .title-section {
	text-align: left;
	margin: 0;
}
.head-services .btn-main {
	color: #112323;
	border-color: #112323;
}
.page-card .item-service,
.page-card .item-service::after,
.page-card .item-service img {
	border-radius: 0 !important;
}
.swiper-catalog .btn-swipe {
	z-index: 4;
}
.swiper-catalog-wrapper .swiper-fraction {
	display: none !important;
}
.swiper-catalog-wrapper {
	position: relative;
}
.swiper-catalog-wrapper .swiper-button-prev {
	left: -50px;
}
.swiper-catalog-wrapper .swiper-button-next {
	right: -50px;
}
.swiper-catalog .item-catalog__bottom {
	border-bottom: none;
}
.title-section_recomendation {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 20px;
	margin: 0;
}
.about-cart {
	font-size: 18px;
	line-height: 25px;
	padding-top: 30px;
	margin-top: 40px;
	border-top: 1px solid rgba(188, 188, 188, 0.5);
	font-weight: 300;
}
.about-cart li {
	padding-left: 15px;
	position: relative;
}
.about-cart li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.about-cart .title-middle {
	padding-bottom: 15px;
}
.about-cart .col-lg-5 li {
	margin-bottom: 15px;
}
.page-services .item-service_7 img,
.page-services .item-service_7 {
	border-radius: 200px 0px 0px 0px;
}
.page-services .item-service_8 img,
.page-services .item-service_8 {
	border-radius: 0px 200px 0px 0px;
}
.page-services .item-service_11::after,
.page-services .item-service_11 img,
.page-services .item-service_11,
.page-services .item-service_9::after,
.page-services .item-service_9 img,
.page-services .item-service_9 {
	border-radius: 0
}
.text-block {
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 40px;
	font-weight: 300;
}
.text-block .title-middle {
	padding-bottom: 18px;
}
.page-services .row_services {
	padding-bottom: 30px;
}
.page-services {
	padding-bottom: 55px;
}
.page-services .title-section {
	padding-bottom: 25px;
}
.page-thanks .image-billbord::before,
.page-service .image-billbord::before {
	border-radius: 630px 0px 0px 0px;
}
.page-thanks .image-billbord img,
.page-service .image-billbord img {
	border-radius: 590px 0px 0px 0px;	
}
.page-service .billbord-block {
	left: 56px;
}
.service-info {
	line-height: 26px;
	padding-top: 42px;
}
.service-info strong {
	font-weight: 500;
}
.service-info ul {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 20px;
}
.service-info li {
	padding-left: 15px;
	position: relative;
}
.service-info li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.service-info .title-middle {
	margin-bottom: 20px;
}
.service-feature {
	padding: 42px 68px;
	padding-right: 36px;
	margin-left: 50px;
	margin-top: -60px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(152, 162, 179, 0.15);
	border-radius: 0px 0px 100px 0px;
	position: relative;
	z-index: 2;
}
.feature-service {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 20px;
	max-width: 320px;
	font-family: 'Forum';
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.feature-service::after {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	content: "...............................................................................................................................................................................................";
}
.feature-service div {
	flex: none;
}
.feature-service div:last-child {
	order: 2;
}
.service-feature .title-middle {
	margin-bottom: 25px;
}
.btn-main_page {
	color: #112323;
	border: 1px solid #112323;
	text-transform: none;
	background-color: transparent;
}
.service-info .btn-main {
	margin-top: 40px;
}
.text-service {
	line-height: 26px;
	padding-top: 55px;
}
.text-service p {
	margin-bottom: 15px;
}
.page-service .swiper-gallery {
	margin-bottom: 60px;
}
.page-service .row_services {
	padding-top: 35px;
	padding-bottom: 80px;
}
.page-service .swiper-catalog-wrapper {
	margin-top: 35px;
}
.menu-dropdown {
	padding-top: 22px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: #2E6B75;
	z-index: 10;
	background-image: url(../img/bg_menu.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: none;
}
.menu {
	position: relative;
}
.menu__item {
	position: relative;
}
.menu__item a {
	font-size: 32px;
	line-height: 35px;
	padding: 0 25px;
	height: 91px;
	color: #E1DAD0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(225, 218, 208, 0.3);
	font-family: 'Forum';
}
.menu > li:first-child .menu__item a {
	border-top: 1px solid rgba(225, 218, 208, 0.3);
}
.menu__item a:hover {
	background-color: #1C474E;
}
.menu > li i {
	width: 24px;
	height: 24px;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #E1DAD0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.logo-wrapper {
	text-align: center;
}
.menu ul {
	width: 400px;
	padding: 30px 55px;
	top: 0;
	left: 100%;
	height: 100%;
	max-height: 100%;
	border-top: 1px solid rgba(225, 218, 208, 0.3);
	background: rgba(28, 71, 78, 0.3);
	position: absolute;
	transition: all 0.1s;
	visibility: hidden;
	opacity: 0;
	overflow: auto;
}
.menu ul::-webkit-scrollbar {
	-webkit-appearance: none;
}
.menu ul::-webkit-scrollbar:vertical {
	width: 4px;
}
.menu ul::-webkit-scrollbar:horizontal {
	height: 4px;
}
.menu ul::-webkit-scrollbar-thumb {
	background: #CE9B7F;
	border-radius: 10px;
}
.menu ul::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #F3F0EC;
}
.menu li:hover ul {
	visibility: visible;
	opacity: 1;
}
.menu ul a {
	color: #E1DAD0;
	border-bottom: 1px solid transparent;
}
.menu ul li {
	margin-bottom: 15px;
}
.menu ul a:hover {
	border-color: #E1DAD0;
}
.menu-dropdown .list-social {
	padding-left: 30px;
}
.header_menu {
	transform: none !important;
}


.services-wrapper__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #EFECE7;
	height: 100%;
	z-index: -1;
	display: block;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.booking {
	position: relative;
	z-index: 1;
	background: transparent;
}
.booking__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	right: 0;
	margin: 0 auto;
	background: #EFECE7;
	z-index: -1;
	background: #2E6B75;
}
.header.fixed {
	padding: 15px 0;
	background: #f9f8f6;
}
.slider-item {
	margin-bottom: 20px;
	width: 100%;
	background: rgba(225, 218, 208, 0.2);
}
.item-catalog:hover .item-catalog__image img {
	border-radius: 0px 0px 200px 0px;
}
.slider-item .item-catalog__image {
	margin: 0;
}
.slider-item .slick-arrow {
	font-size: 20px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	right: 7px;
	left: auto;
	transform: none;
	top: auto;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s;
}
.slider-item .slick-prev {
	right: 45px;
}
.slider-item .slick-arrow::before {
	display: none !important;
}
.item-catalog:hover .slick-arrow {
	opacity: 1;
}

.descr-thanks {
	font-size: 26px;
	line-height: 36px;
	margin-bottom: 110px;
	margin-top: 30px;
	max-width: 275px;
}
.page-thanks .title-section {
	padding-top: 100px;
	margin: 0;
	text-align: left;
}
.page-thanks .billbord-block {
	padding-top: 60px;
}

.item-offer {
	margin-top: 30px;
	color: #fff;
	display: block;
	position: relative;
}
.item-offer__image {
	height: 385px;
	position: relative;
	display: block;
	width: 100%;
}
.item-offer__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 189px;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(17, 35, 35, 0) 0%, rgba(17, 35, 35, 0.96875) 72.12%, #112323 100%);
}
.item-offer__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-offer__content {
	padding: 33px 44px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.status-offer { 
	font-size: 30px;
	line-height: 33px;
	padding: 7px 41px;
	padding-right: 31px;
	background: #59B4C2;
	border-radius: 0px 0px 30px 0px;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Forum';
}
.status-offer_profit {
	background: #BE4115;
}
.page-offers {
	padding-bottom: 52px;
}
.page-offers .pager {
	margin-top: 40px;
}